@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
*{
    box-sizing: border-box;
    margin: 0;
    letter-spacing: 0.031rem;
    padding: 0;
    font-family: "Roboto", Arial, sans-serif;
}
.main{
    width: 100%;
    height: auto;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.main-top{
    width: 100%;
    height: auto;
    display: flex;
    background-color: #fff;
    padding: 0.5rem 1rem;
    flex-direction: row;
    column-gap: 1rem;
    align-items: center;
    justify-content: space-between;
}
.main-top-left{
    width: 30%;
    height: auto;
    display: flex;
    align-items: center;
}
.main-top-left img{
    width: 100px;
    height: 90px;
    border: none;
}
.main-top-center{
    width: 40%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 1.5rem;
}
.main-top-center a{
    text-decoration: none;
    color: #3d3d3d;
    font-size: 0.9rem;
    font-weight: 500;
}
.main-top-center a:hover{
    color: #000;
    cursor: pointer;
}
.main-top-right{
    width: 30%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: right;
}


