@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
*{
    box-sizing: border-box;
    margin: 0;
    letter-spacing: 0.031rem;
    padding: 0;
    font-family: "Roboto", Arial, sans-serif;
}
.main{
    width: 100%;
    height: auto;
    padding: 1rem;
    display: flex;
    background-color: #fff;
    flex-direction: column;
    row-gap: 2rem;
    align-items: center;
    justify-content: center;
}
.main-top{
    width: 100%;
    height: auto;
    display: flex;
    background-color: #fff;
    padding: 0.5rem 2rem;
    flex-direction: row;
    column-gap: 1rem;
    align-items: center;
    justify-content: space-between;
}
.main-top-left{
    width: 30%;
    height: auto;
    display: flex;
    align-items: center;
}
.main-top-left img{
    width: 90px;
    height: 80px;
    border: none;
    outline: none;
}
.main-top-center{
    width: 40%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 1.5rem;
}
.main-top-center a{
    text-decoration: none;
    color: #767676;
    font-size: 0.9rem;
    font-weight: 500;
}
.main-top-center a:hover{
    color: #000;
    cursor: pointer;
}
.main-top-right{
    width: 30%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: right;
}
.download,
.download2{
    width: fit-content;
    height: auto;
    padding: 0.3rem 0.6rem;
    border: none;
    outline: none;
    border-radius: 1rem;
    background-color: #04ddb2;
    color: #fff;
    font-size: 0.9rem;
    font-weight: 500;
    cursor: pointer;
}
.download:hover,
.download2:hover{
    background-color: #03b894;
}

.main-bottom{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.main-tour{
    width: 90%;
    height: auto;
    display: flex;
    flex-direction: column;
    row-gap: 2rem;
    align-items: center;
    justify-content: center;
    margin-bottom: 4rem;
}
.lobe-tour{
    width: fit-content;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 1rem;
}
.lobe-title,
.main-train-text{
    font-size: 3rem;
    font-weight: 700;
    color: #333;
}
.tour{
    color: #04ddb2;
}
.lobe-description{
    width: fit-content;
    height: auto;
    font-size: 1rem;
    font-weight: 400;
    color: #000;
    text-align: center;
}
.lobe-picture{
    width: fit-content;
    height: auto;
    background-color: #e8edf0;
    padding : 1.5rem 3rem;
    border-radius: 1rem;
    overflow: hidden;

}
.lobe-picture img{
    width: 600px;
    height: 350px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.main-train{
    width: 90%;
    height: auto;
    display: flex;
    flex-direction: column;
    row-gap: 1.5rem;
    align-items: center;
    justify-content: center;
}
.main-train-text p{
    width: fit-content;
    height: auto;
    text-align: center;
}
.main-train-button{
    width: fit-content;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 5rem;
}
.download2{
    padding: 0.5rem 2rem;
}
.main-footer{
    width: 70%;
    height: auto;
    padding: 1rem;
    border-top: solid #767676;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: left;
    column-gap: 3rem;
}
.rights-reserved,
.about{
    width: fit-content;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: center;
    row-gap: 1rem;
    padding: 0.3rem;
}
.rights-reserved img{
    width: 90px;
    height: 80px;
    margin-bottom: 0.5rem;
}
.rights-reserved p{
    font-size: 0.9rem;
    font-weight: 400;
    color: #333;
}



